*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
}

form {
    margin-top: 40px;
}

input, button{
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
}

button {
    background-color: #2ea2cc;
    border: none;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #2797c0;
} 

.success-message{
    background-color: rgb(9, 108, 48);
    color: #ffffff;
    padding: 16px;
    display: none;
}

.fail-message   {
    background-color: rgb(86, 3, 3);
    color: #fbfbfb;
    padding: 16px;
    display: none;
}